<!DOCTYPE html>
<html lang="en-US">
   <head>
      <title> Music Search</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
      </title>
   </head>
   <style>

      h5{
      padding-bottom: 5px;
      padding-top: 3px;
      }
      .genre{
      border:solid 2px;
      border-radius: 3px;
      margin:5px;
      white-space: nowrap;
      background-color:#ccc;
      padding:2px;
      }
      /*img {
      height: 200px;
      }*/
   </style>
   <body >
     <div id='app'>
      <nav class="navbar navbar-default">
         <div class="container">
            <div class="navbar-header">
               <h3>Music Search</h3>
            </div>
         </div>
      </nav>
      <div class = "container">
         <div class = "row searchbar" >
            <div class = "col-lg-12 col-md-12 col-sm-12">
               <h4>Enter the name of the musician, and enter : </h4>
               <input type="text" v-on:keyup.13="pressEnter($event.target.value)"> <!-- SEARCH BARRRRRRRRRRRRRRRRRRRRRRRRRR -->
            </div>
         </div>

         <div class = "col-lg-12 col-md-12 col-sm-12">
            <div ><b>Search Result (Total {{resultCount}} Found.)</b></div>
           <div v-show="resultCount>0">
              <button v-on:click="clickAll" v-bind:class="[all ? 'btn btn-success' : 'btn btn-default']" style="margin:2px;">ALL</button>
              
              <button v-for="genre in genres" v-bind:key=genreKey v-on:click="clickGenreButton(genre)"  v-bind:class="[genreColorUpdate(genre) ? 'btn btn-primary' : 'btn btn-default']"  style="margin:2px;">{{genre}}</button>
           </div>
           <h4>
              List of results
           </h4>

            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort list of results by: 
              <span class="caret"></span></button>
              <ul v-bind:key=sortKey class="dropdown-menu">
                <li v-on:click="sortReset" v-bind:class="sortOptions[0] ? 'active' : ''"><a href="#">Reset to original</a></li>
                <li v-on:click="sortByCollection" v-bind:class="sortOptions[1] ? 'active' : ''"><a href="#">Collection Name</a></li>
                <li v-on:click="sortByPrice" v-bind:class="sortOptions[2] ? 'active' : ''"><a href="#">Price</a></li>
              </ul>
            </div>
            
            <div v-show="loading">
               <img style='width: 25%; display: inline; ' :src="loadingGif">
            </div>

         </div>

       <div v-show="resultCount>0" >
         <div v-for="artist in artistDescription" class = "col-lg-6 col-md-6 col-sm-6" style='margin-bottom: 50px; display: inline; height: 250px' >
           <div class="col-sm-4" style='max-width:200px;margin-right: 30px'>
             <img style='width: 120%; display: inline; ' :src="artist[5]">
          </div>

          <div class="col-sm-6" style='max-height: 250px;'>
             <ul class="nav nav-tabs">
                <li class="active"><a :id="artist[6]" data-toggle="tab" v-on:click="description(artist[6])">Description</a></li>
                <li><a :id="artist[6]" data-toggle="tab" v-on:click="track(artist[6])">Track</a></li>
             </ul>
             <div v-bind:key=renderKey class="tab-content">
               <div v-show="tabStates[artist[6]]==0">
                  <div><b>Artist: {{artist[0]}}</b></div>
                  <div><b>Album: {{artist[1]}}</b></div>
                  <div><b>Price: {{artist[2]}}</b></div>
                  <div><b>Kind: {{artist[3]}}</b></div>
                  <div><b>Preview: <a :href=artist[4] target="_blank">{{artist[10]}}</a></b></div>
               </div>
               <div v-show="tabStates[artist[6]]>0">
                  <div><b>Track ID: {{artist[7]}}</b></div>
                  <div><b>Country: {{artist[8]}}</b></div>
               </div>
             </div>
           </div>

         </div>

         <!-- <div class = "col-lg-6 col-md-6 col-sm-6" style='margin-bottom: 50px; display: inline; height: 250px' >
           <div class="col-sm-4" style='max-width:200px;margin-right: 30px'>
             <img style='width: 120%; display: inline; ' v-bind:src="artist2">
          </div>

          <div class="col-sm-6" style='max-height: 250px;'>
             <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" >Description</a></li>
                <li><a data-toggle="tab">Track</a></li>
             </ul>
             <div class="tab-content">

             </div>
           </div>

         </div> -->
      </div>
    </div>
  </div>
    <script src="script.js"></script>

   </body>
</html>
